/* * { outline: 2px dotted red; }
* * { outline: 2px dotted green; }
* * * { outline: 2px dotted orange; }
* * * * { outline: 2px dotted blue; }
* * * * * { outline: 1px solid red; }
* * * * * * { outline: 1px solid green; }
* * * * * * * { outline: 1px solid orange; }
* * * * * * * * { outline: 1px solid blue; } */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: sans-serif;
}

.page__background {
  padding: 30px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page__background--cubes {
  background-image: url("/img/background.png");
}

.page__background--banner-top {
  background-image: url("/img/MaskGroup56.png");
  margin-top: 50px;
}

.page__background--banner-bottom {
  background-image: url("/img/MaskGroup57.png");
  margin-top: 50px;
}

.page__background--purple-cubes {
  background-image: url("/img/MaskGroup58.png");
}

.page__background--gray {
  background-color: #FBFCFE;
}

.page__wrapper {
  margin: 0 auto;
  width: 85%;
}

.page__wrapper .navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;
}

.page__wrapper .navbar__item {
  margin: 25px;
  font-size: 20px;
  list-style-type: none;
}

.page__wrapper .navbar__item--active {
  border-bottom: 2px solid transparent;
  transition: .4s;
}

.page__wrapper .navbar__item--active:hover {
  border-bottom: 2px solid yellow;
}

.page__wrapper .navbar__link {
  text-decoration: none;
  color: white;
}

.page__wrapper .header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.page__wrapper .header .logo {
  display: flex;
  align-items: center;
}

.page__wrapper .header .logo__text {
  color: white;
  font-size: 25px;
  margin-left: 20px;
}

.page__wrapper .header__logo {
  display: none;
  width: 40px;
}

.page__btn--primary {
  padding: 15px 25px;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 17px;
  cursor: pointer;
  outline: none;
  background-color: #572BD9;
}

.page__btn--secondary {
  padding: 15px 25px;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 17px;
  cursor: pointer;
  outline: none;
  background-color: #FFDD33;
}

.page .btn-margins {
  margin: 25px 15px 0 15px;
}

.page .title {
  font-size: 40px;
}

.page .title--padding-top {
  padding-top: 60px;
}

.page .title--white {
  color: white;
}

.page .title--black {
  color: black;
}

.page .subtitle--black {
  color: black;
}

.page .subtitle--padding-top {
  padding-top: 30px;
}

.page .subtitle--white {
  color: white;
}

.page .subtitle--pos {
  margin: 25px 0;
}

.page .align-center {
  text-align: center;
}

.page .pc__img {
  width: 70%;
}

.page .pc--pos {
  margin-top: 50px;
}

.page .main .slider {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.page .main .slider__img {
  margin: 25px;
  width: 230px;
  cursor: pointer;
}

.page .main .slider__img--hover {
  opacity: .6;
  transition: .4s;
}

.page .main .slider__img:hover {
  opacity: 1;
}

.page .main .abilities {
  padding: 30px 0;
}

.page .main .abilities .info {
  margin-bottom: 60px;
}

.page .main .abilities .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.page .main .abilities .cards .card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  padding: 45px;
  height: 320px;
  box-shadow: 0 0 2px 0px #707070;
  border-radius: 15px;
  margin: 20px;
  width: 25%;
  min-width: 300px;
}

.page .main .abilities .cards .card__logo {
  width: 15%;
}

.page .main .ux-structure {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.page .main .ux-structure--margin-top {
  margin-top: 60px;
}

.page .main .ux-structure .left-tab {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 400px;
  min-width: 300px;
}

.page .main .ux-structure .left-tab__empty-img {
  background-color: white;
  width: 85%;
  height: 80%;
  border-radius: 15px;
  box-shadow: 0 0 15px 0 #bdb0b0;
}

.page .main .ux-structure .right-tab {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-width: 300px;
}

.page .main .ux-structure .right-tab__subtitile--margin {
  margin: 50px 0;
}

.page .main .ux-structure .right-tab__btn--width {
  width: 200px;
}

.page .main .ux-structure-reverse {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.page .main .ux-structure-reverse--margin-top {
  margin-top: 60px;
}

.page .main .ux-structure-reverse .right-tab-reverse {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-width: 300px;
}

.page .main .ux-structure-reverse .right-tab-reverse-tasks-row {
  list-style-type: none;
  display: flex;
}

.page .main .ux-structure-reverse .right-tab-reverse-tasks-row__img {
  object-fit: contain;
}

.page .main .ux-structure-reverse .right-tab-reverse-tasks-row__text {
  margin-left: 15px;
}

.page .main .ux-structure-reverse .right-tab-reverse__btn--width {
  width: 200px;
}

.page .main .ux-structure-reverse .left-tab-reverse {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 400px;
  min-width: 300px;
}

.page .main .ux-structure-reverse .left-tab-reverse__empty-img {
  background-color: white;
  width: 85%;
  height: 80%;
  border-radius: 15px;
  box-shadow: 0 0 15px 0 #bdb0b0;
}

.page .main .banner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 560px;
}

.page .main .tasks-pos {
  margin: 30px 0;
}

.page .main .row-pos {
  margin: 15px 0;
}

.page .main .page__background--gray .testimonials-margin-top {
  margin-top: 80px;
}

.page .main .page__background--gray .testimonials-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.page .main .page__background--gray .testimonials-section .testimonials-card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 25%;
  box-shadow: 0px 0px 10px -7px #707070;
  padding: 20px;
  min-width: 300px;
}

.page .main .page__background--gray .testimonials-section .testimonials-card-top {
  position: relative;
  top: -50px;
}

.page .main .page__background--gray .testimonials-section .testimonials-card-margins {
  margin: 25px 0;
}

.page .main .page__background--gray .testimonials-section .testimonials-card__name {
  text-align: center;
  opacity: .8;
}

.page .main .page__background--gray .testimonials-section .testimonials-card__subject {
  opacity: .7;
}

.page .main .page__background--gray .testimonials-section .testimonials-card__description {
  opacity: .7;
}

.page .main .page__background--gray .testimonials__switchers {
  display: flex;
  justify-content: center;
}

.page .main .page__background--gray .testimonials__switchers-margin {
  margin-top: 50px;
}

.page .main .page__background--gray .testimonials__switchers .testimonials__switcher {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #535256;
  opacity: .4;
  transition: .4s;
  cursor: pointer;
}

.page .main .page__background--gray .testimonials__switchers .testimonials__switcher-margin {
  margin: 0 5px;
}

.page .main .page__background--gray .testimonials__switchers .testimonials__switcher:hover {
  opacity: 1;
  background-color: #572BD9;
}

.page .main .page__background--purple-cubes .pricing-tarifs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.page .main .page__background--purple-cubes .pricing-tarifs-margin {
  margin-top: 80px;
}

.page .main .page__background--purple-cubes .pricing-card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  min-width: 300px;
  width: 27%;
  padding: 60px 40px;
  margin: 15px;
}

.page .main .page__background--purple-cubes .pricing-card--hover {
  transition: .4s;
  background-color: white;
}

.page .main .page__background--purple-cubes .pricing-card--hover:hover {
  background-color: #6736F9;
  color: white;
}

.page .main .page__background--purple-cubes .pricing__level {
  font-size: 25px;
}

.page .main .page__background--purple-cubes .pricing__price {
  margin: 20px 0;
  font-size: 70px;
}

.page .main .page__background--purple-cubes .pricing__functions {
  text-align: center;
  margin: 20px;
}

.page .main .page__background--purple-cubes .pricing-possibilities {
  margin-block-end: auto;
}

.page .main .page__background--purple-cubes .pricing-possibilities .possibility {
  list-style-type: none;
  margin: 15px 0;
  opacity: .7;
}

.page .main .page__background--gray .questions-info {
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

.page .main .page__background--gray .questions-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.page .main .page__background--gray .questions-section .explanation {
  display: flex;
  align-items: center;
  width: 40%;
  min-width: 300px;
  margin: 35px;
}

.page .main .page__background--gray .questions-section .explanation .answer {
  margin-top: 45px;
}

.page .main .page__background--gray .questions-section .explanation .answer__subtitle {
  margin-top: 20px;
  color: #7E92AC;
}

.page .main .message {
  text-align: center;
}

.page .main .message-info {
  margin: 30px 0px;
}

.page .main .message-functions {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 0 auto;
  width: 30%;
  min-width: 250px;
}

.page .main .message-functions__inp {
  padding: 15px 5px;
  margin: 20px 0px;
  border-radius: 10px;
  outline: none;
  border: none;
  border: 1px solid #c3cce8;
}

.page .main .info-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 60px 0px 30px;
}

.page .main .info-center .info-margin {
  min-width: 240px;
  margin: 50px;
}

.page .main .info-center .info-about {
  width: 250px;
}

.page .main .info-center .info-about__paragraph {
  margin: 40px 0px 40px;
}

.page .main .info-center .info-link-list {
  list-style-type: none;
}

.page .main .info-center .info-link-list__item {
  margin-top: 23px;
}

.page .main .info-center .subscribe {
  margin-top: 50px;
  width: 40%;
}

.page .main .info-center .subscribe-icons__icon {
  width: 50px;
  margin: 10px;
}

.page .main .info-center .subscribe__inp {
  min-width: 160px;
  width: 50%;
  border-right: none;
  padding: 20px 0;
}

.page .main .info-center .subscribe-btn {
  position: relative;
  margin-left: -30px;
  padding: 14px 35px;
  top: 4px;
  padding: 16px 35px;
}

.page .main .info-center .subscribe-btn__icon {
  position: relative;
  top: 5px;
}

.page .footer {
  background-color: #5B2AEE;
}

.page .footer-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: center;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  .page__wrapper .navbar {
    display: none;
  }
  .page__wrapper .header__logo {
    display: block;
  }
  .page__wrapper .header .logo__text {
    display: none;
  }
  .page .main .info-center .subscribe__inp {
    padding: 20px 0px;
  }
  .page .main .info-center .subscribe-btn {
    padding: 15px 1px;
  }
  .page .main .info-center {
    justify-content: center;
  }
}
