/* * { outline: 2px dotted red; }
* * { outline: 2px dotted green; }
* * * { outline: 2px dotted orange; }
* * * * { outline: 2px dotted blue; }
* * * * * { outline: 1px solid red; }
* * * * * * { outline: 1px solid green; }
* * * * * * * { outline: 1px solid orange; }
* * * * * * * * { outline: 1px solid blue; } */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: sans-serif;
  }
  
  $primary:#572BD9;
  $secondary:#FFDD33;
  
  @mixin background {
    padding: 30px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  @mixin display($align,$direction,$justify) {
    display: flex;
    flex-wrap: wrap;
    align-items: $align;
    flex-direction: $direction;
    justify-content: $justify;
  }
  
  @mixin btn($color) {
    padding: 15px 25px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 17px;
    cursor: pointer;
    outline: none;
    background-color: $color;
  }
  
  @mixin empty-img {
    background-color: white;
    width: 85%;
    height: 80%;
    border-radius: 15px;
    box-shadow: 0 0 15px 0 #bdb0b0;
  }
  
  @mixin left-tab-sizes {
    width: 50%;
    height: 400px;
    min-width: 300px;
  }
  
  
  @mixin right-tab-sizes {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-width: 300px;
  }



  @media screen and (max-width: 900px) {
    .page__wrapper .navbar {
      display: none;
    }
  
    .page__wrapper .header__logo {
      display: block;
    }
  
    .page__wrapper .header .logo__text {
      display: none;
    }
  
    .page .main .info-center .subscribe__inp {
      padding: 20px 0px;
    }
  
    .page .main .info-center .subscribe-btn {
      padding: 15px 1px;
    }
  
    .page .main .info-center {
      justify-content: center;
    }
  }