@import '/scss/main.scss';

.page {

  &__background {
    @include background;

    &--cubes {
      background-image: url('/img/background.png');
    }
    &--banner-top {
      background-image: url('/img/MaskGroup56.png');
      margin-top: 50px;
    }
    &--banner-bottom {
      background-image: url('/img/MaskGroup57.png');
      margin-top: 50px; 
    }
    &--purple-cubes {
      background-image: url("/img/MaskGroup58.png");
    }
    &--gray {
      background-color:#FBFCFE;
    }
  }
  &__wrapper {
    .navbar {
      @include display(center,null,null);
      margin-left: auto;

      &__item {
        margin: 25px;
        font-size: 20px;
        list-style-type: none;

        &--active {
          border-bottom: 2px solid transparent;
          transition: .4s;

        &:hover {
            border-bottom: 2px solid yellow;
          }
        }
      }
      &__link {
        text-decoration: none;
        color: white;
      }
    }
    margin: 0 auto;
    width: 85%;
    .header {
      @include display(center,null,space-between);
      .logo {
        display: flex;
        align-items: center;
    
        &__text {
          color: white;
          font-size: 25px;
          margin-left: 20px;
        }
      }
      
      
      &__logo {
        display: none;
        width: 40px;
      }
    }
  }
  
  &__btn--primary {
    @include btn($primary);
  }

  &__btn--secondary {
    @include btn($secondary);
  }

.btn-margins {
  margin: 25px 15px 0 15px;
}


  .title {
    font-size: 40px;
      &--padding-top {
      padding-top: 60px;
      }
      &--white {
        color: white;
      }
      &--black {
        color: black;
      }
  }

  .subtitle {
    &--black {
      color: black;
    }
    &--padding-top {
      padding-top: 30px;
    }
    &--white {
      color: white;
    }
    &--pos {
      margin: 25px 0;
    }
  }

  .align-center {
    text-align: center;
  }

  .pc {
    &__img {
      width: 70%;
    }
    &--pos {
      margin-top: 50px;
    }
  }

  .main {


    .slider {
      @include display(center,null,center);
      &__img {
        margin: 25px;
        width: 230px;
        cursor: pointer;
        &--hover {
          opacity: .6;
          transition: .4s;
        }
        &:hover {
          opacity: 1;
        }
      }
    }
    .abilities {
      padding: 30px 0;

      .info {
        margin-bottom: 60px;
      }

      .cards {
        @include display(null,null,center);

        .card {
          @include display(null,column,space-between);
          padding: 45px;
          height: 320px;
          box-shadow: 0 0 2px 0px #707070;
          border-radius: 15px;
          margin: 20px;
          width: 25%;
          min-width: 300px;
          &__logo {
            width: 15%;
          }
        }
      }
    }

    .ux-structure {
     @include display(center,null,center);
      &--margin-top {
        margin-top: 60px;
      }

      .left-tab {
        @include display(center,null,center);
        @include left-tab-sizes;
        &__empty-img {
          @include empty-img;
        }
      }
      .right-tab {
        @include right-tab-sizes;
        &__subtitile--margin {
          margin: 50px 0;
        }
        &__btn--width {
          width: 200px;
        }
      }
    


  
    &-reverse {
      @include display(center,null,center);
      &--margin-top {
        margin-top: 60px;
      }

      .right-tab-reverse {
        @include right-tab-sizes;
        
        &-tasks{
          &-row {
            list-style-type: none;
            display: flex;
            &__img {
              object-fit: contain;
            }
            &__text {
              margin-left: 15px;
            }
            
          }
        }
        &__btn--width {
          width: 200px;
        }
      }
      .left-tab-reverse {
          @include display(center,null,center);
          @include left-tab-sizes;
          &__empty-img {
            @include empty-img;
          }
          
        }
      }
    }
    .banner {
      @include display(center,column,center);
      height: 560px;
    }
    
    .tasks-pos {
      margin: 30px 0;
    }
    
    .row-pos {
      margin: 15px 0;
    }

      .page__background--gray {
        .testimonials {
          &-margin-top {
            margin-top: 80px;
          }
          &-section {
            @include display(center,null,space-evenly);

            .testimonials-card {
              @include display(center,column,center);
              width: 25%;
              box-shadow: 0px 0px 10px -7px #707070;
              padding: 20px;
              min-width: 300px;

              &-top {
                position: relative;
                top: -50px;
              }
              &-margins {
                margin: 25px 0;
              }
              &__name {
                text-align: center;
                opacity: .8;
              }
          
              &__subject {
                opacity: .7;
              }
          
              &__description {
                opacity: .7;
              }
          }
        }
        &__switchers {
          display: flex;
          justify-content: center;
          &-margin {
            margin-top: 50px;
          }
          .testimonials__switcher {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: #535256;
            opacity: .4;
            transition: .4s;
            cursor: pointer;
            &-margin {
              margin: 0 5px;
            }
            &:hover {
              opacity: 1;
              background-color: $primary;
            }
          }
        }
      }
    }


.page__background--purple-cubes {
  .pricing {
    &-tarifs {
      @include display(null,null,space-evenly);

      &-margin {
        margin-top: 80px;
      }
    }

    &-card {
      @include display(center,column,center);

      border-radius: 10px;
      cursor: pointer;
      min-width: 300px;
      width: 27%;
      padding: 60px 40px;
      margin: 15px;

      &--hover {
        transition: .4s;
        background-color: white;
        &:hover {
          background-color: #6736F9;
          color: white;
        }
      }
    }

    &__level {
      font-size: 25px;
    }

    &__price {
      margin: 20px 0;
      font-size: 70px;
    }

    &__functions {
      text-align: center;
      margin: 20px;
    }

    &-possibilities {
      margin-block-end: auto;
      .possibility {
        list-style-type: none;
        margin: 15px 0;
        opacity: .7;
      }
    }

  }
}

.page__background--gray {
  .questions {
    &-info {
      text-align: center;
      width: 60%;
      margin: 0 auto;
    }
    &-section {
      @include display(null,null,center);

      .explanation {
        display: flex;
        align-items: center;
        width: 40%;
        min-width: 300px;
        margin: 35px;
        .answer {
          margin-top: 45px;

          &__subtitle {
            margin-top: 20px;
            color: #7E92AC;
          }
        }
      }

    }
  }
}

.message {
  text-align: center;

  &-info {
    margin: 30px 0px;
  }
  &-functions {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0 auto;
    width: 30%;
    min-width: 250px;

    &__inp {
      padding: 15px 5px;
      margin: 20px 0px;
      border-radius: 10px;
      outline: none;
      border: none;
      border: 1px solid #c3cce8;
    }
  }
}

.info-center {
  @include display(null,null,space-between);
  padding: 60px 0px 30px;

  .info-margin {
    min-width: 240px;
    margin: 50px;
  }
  .info-about {
    width: 250px;
    &__paragraph {
      margin: 40px 0px 40px;
    }
  }

  .info-link {
    &-list {
      list-style-type: none;

      &__item {
        margin-top: 23px;
      }
    }

  }
  .subscribe {
    margin-top: 50px;
    width: 40%;

    &-icons__icon {
      width: 50px;
      margin: 10px
    }

    &__inp {
      min-width: 160px;
      width: 50%;
      border-right: none;
      padding: 20px 0;
    }

    &-btn {
      position: relative;
      margin-left: -30px;
      padding: 14px 35px;
      top: 4px;
      padding: 16px 35px;

      &__icon {
        position: relative;
        top: 5px;
      }
    }
  }
  }
} 

.footer {
  background-color: #5B2AEE;

  &-nav {
    @include display(center,center,center);
  }
}

}  
    

